.chat-room{
    display:flex;
    justify-content: space-between;
}
.theme {
  text-align: center;
  font-size: large;
  color: #00008B;
  width:600px;
  height:50px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 45px;
  padding:10px;
  margin-left: 35px;
}
.nickBox {
  text-align: right;
}
.nick {
  font-size: large;
}
