.quill{
    width:600px;
    background-color: #fff;
    height:190px;
}


/deep/ .quill .ql-container {
    height:50%;

}
/deep/ .quill .ql-container .ql-editor{
    min-height: 0px;
}

.window{
    width:600px;
    height:300px;
    background-color:#DEB887;
    overflow: scroll;
    overflow-x: hidden;
}

li{
    list-style-type: none;
}
.editor{
    background-color: red;
}

.one-message{
    width:100%;
    padding:10px;
    border-bottom:1px solid grey;
    display: inline-block;

}

.content{
    background-color:#fff;
    width: 400px;
    padding:10px;
    margin:10px;
    border-radius: 5%;
}
.place{
    width:700px;
    height:620px;
    background-color: #00008B;
    border: 1px solid #000;
    border-radius: 10%;
    padding:50px;
}

.btn-send{
    background-color:grey;
    background-image: none;
    height:40px;
    border:none;
    color:white;
    width:600px;
    padding:2px;
}
