<div class="col-md">
<div class="place">
    <div class="window">
        <ul *ngIf="messages">
            <li *ngFor="let item of items | async">
                <div class="one-message">
                  <div>
                    <div class="glyphicon glyphicon-user"> </div>
                     <div >
                            {{ item.name }}
                            {{item.date}}
                        </div>
                      </div>
                    <div class="content"  [innerHTML]="item.message" [style]="item.message.style">{{item.message}}</div>
              </div>
            </li>
        </ul>
    </div>
    <div class="quill">
            <quill-editor class="editor" #quill  [(ngModel)]="msgVal"></quill-editor>
            <button class="btn btn-success btn-send" (click)="chatSend(quill)">Wyslij</button>
    </div>
 </div>
</div>
