<div class="col-md">
<div class="place">
    <div class="window">
        <ul *ngIf="messages">
            <li *ngFor="let message of messages;let i=index">
                <div class="one-message">
                    <div class="glyphicon glyphicon-user"> </div>
                     <p *ngIf="this.serviceChat.nick!= ''" >
                            {{ this.serviceChat.nick }} {{date}}
                        </p>
                    <div class="content">{{message}}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="quill">
            <quill-editor class="editor" #quill></quill-editor>
            <button class="btn btn-success btn-send" (click)="sendMessages(quill.editorElem)">Wyslij</button>
    </div>
 </div>
</div>