.body-content {
background-color: #E8E8E8;
width:100%;
display:flex;
justify-content: space-between;
flex-direction: column;
min-height: 100vh;
}

.main{
    flex:1;
}

.footer{
  background-color:black;
  height:50px
}
